* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100;
    background: url('../images/bg.jpg') no-repeat fixed;
    background-size: cover;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #434343;
    scroll-behavior: smooth;
}

#overlay {
    top: 0;
    left: 0;
    width: 0;
    height: auto;
    background-color: #121212;
    opacity: .6;
    position: fixed;
    z-index: 20;
    transition: all .5s;
}

#overlay>div {
    margin-top: 3000px;
    width: 100%;
    height: 1px;
    ;
}

#overlay.show {
    width: 1000px;
}

body.not-overflow {
    overflow: hidden;
}

#sandwitch {
    width: 40px;
    display: none;
    position: fixed;
    z-index: 10;
    right: 15px;
    background-color: none;
    cursor: pointer;
    top: 10px
}

#sandwitch>div {
    background-color: #08aeac;
    width: 100%;
    height: 5px;
    margin-bottom: 7px;
}

#mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #08aeac;
    right: 0;
    top: 0;
    z-index: 100;
    transition: all 1s;
}

#mobile-menu.open {
    width: 180px;
}

#mobile-menu-close {
    font-weight: bold;
    color: #424242;
    font-size: 2rem;
    right: 0;
    padding: 5px 20px 0 0;
    cursor: pointer;
    text-align: right;

}

#mobile-menu ul {
    margin-left: 24px;
}


#mobile-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 8px;
    transition: box-shadow 400ms linear 50ms, letter-spacing 400ms ease-out, font 400ms ease-out, background-color 400ms ease-out;

}

#mobile-menu ul li a:hover,
.resume-buttons a:hover {
    box-shadow: inset 200px 0px 0px 0px rgba(169, 122, 58, 1);
    letter-spacing: 1px;
}

#mobile-menu ul li a.checked {
    letter-spacing: 1px;
    background-color: rgba(169, 122, 58, 1);
}

#root {
    width: auto;
}

#content {
    float: left;
}

#content h1 {
    padding: 24px 0 6px 0;
    text-align: center;
}

#content h1 span {
    color: #08aeac;
}

.semi-bold-title {
    font-weight: bold;
    color: #525252;
    text-align: center;
}

.hr {
    border: none;
    height: 1px;
    width: 100%;
    background: url(../images/hr1.png) no-repeat 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-text {
    margin-top: 16px;
    text-align: center;
}

.contact-button {
    width: max-content;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    background: url(../images/bg-btn.png) no-repeat 50% #08aeac;
}

.contact-button p a {
    color: inherit;
    text-decoration: none;
}

.social {
    width: max-content;
    margin: 0 auto;
}

.social a {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #333;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 1rem;
    line-height: 30px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.social a:hover {
    color: #fff;
    background: #08aeac;
}

#cv,
#contacts,
#skills,
#projects {
    position: absolute;
    transition: all .8s;
    z-index: -1;
    opacity: 0;
    overflow-y: scroll;
}

#contacts.to-right,
#cv.to-right,
#skills.to-right,
#projects.to-right {
    transform: translate(500px, 0);
    z-index: 1;
    opacity: 1;
}

.section {
    width: 80%;
    margin: 0 auto;
    min-height: 560px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section-title {
    color: #021533;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 26px;
    font-weight: 700;
    margin-top: 0;
    border-bottom: 1px solid #021533;
    padding-bottom: 10px;
    margin-bottom: 24px;
}

.section-title2 {
    font-weight: 700;
    color: #08aeac;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -1px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 4px solid #08aeac;
    margin-top: 28px;
}

.resume-item {
    margin-top: 24px;
    padding: 15px;
    border: 4px double #ccc;
    margin-bottom: 15px;
}

.graduation-time,
.job {
    line-height: 15px;
    font-style: italic;
    font-weight: bold;
    color: #555;
    font-size: .8rem;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.graduation-description {
    margin-top: 12px;

}

.resume-item .job-date {
    font-weight: normal;
}

.section-item-title-1,
.section-item-title-2 {
    font-weight: 700;
    color: #021533;
    color: #333;
    padding-left: 0;
    font-size: 1.3rem;
    line-height: 22px;
    margin: 0 0 8px;
    letter-spacing: -1px;
}

.section-item-title-2 {
    border-bottom: 1px dotted #021533;
    padding-bottom: 5px;
    font-size: 1.1rem;
}


.skills-list {
    list-style: none;
    margin-bottom: 40px;
}

.skills-list {
    padding-left: 0;
    margin-left: 0;
}


.progress {
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

.progress-bar {
    padding-top: 3px;
    width: 50%;
    float: left;
    height: 100%;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

.progress-bar-rigth {
    padding-top: 3px;
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.blog-item {
    margin-bottom: 15px;
    border-top: 4px solid #132644;
    padding: 15px;
    background: hsla(0, 0%, 100%, .6);
}

.blog-item-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog-item-thumb {
    width: 100%;
}

.blog-item-thumb img {
    object-fit: contain;
    width: 100%;
}

.blog-item-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 6px;
    color: #021533;
    border-bottom: 1px dotted #021533;
    padding-bottom: 4px;
    font-weight: 700;
    margin-top: 24px;
}

.resume-buttons a.link {
    margin-top: 12px;
    width: 110px;
}

.blog-item-title a {
    text-decoration: none;
    color: #021533;
}

.contact-subtitle-1 {
    color: #08aeac;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #08aeac;
}

.contact-infos p {
    font-size: 1rem;
    line-height: 16px;
}

#container>div {
    border-top: 5px solid rgba(169, 122, 58, 1);
    width: 490px;
    height: 560px;
    background-color: white;
    background-image: url('../images/bg-block.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    margin: 0 auto;
    margin-top: 80px;
    width: 490px;
    min-height: 560px;
    transition: all 1.2s;
}

#container.to-left {
    width: 990px;
}

#menu {
    width: 180px;
    position: absolute;
    margin-left: -190px;
}

#menu ul,
#mobile-menu ul {
    list-style: none;
}

#menu ul li,
#mobile-menu ul li {
    margin-bottom: 5px;
}

#menu ul li a,
.resume-buttons a {
    display: block;
    width: 160px;
    height: 100%;
    padding: 10px;
    background-color: #08aeac;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: box-shadow 400ms linear 50ms, letter-spacing 400ms ease-out, font 400ms ease-out, background-color 400ms ease-out;

}

#menu ul li a:hover,
.resume-buttons a:hover {
    box-shadow: inset 200px 0px 0px 0px rgba(169, 122, 58, 1);
    letter-spacing: 1px;
}

#menu ul li a.checked {
    letter-spacing: 1px;
    background-color: rgba(169, 122, 58, 1);
}

#face {
    width: 200px;
    height: 200px;
    border: 4px solid #08aeac;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 48px;
}

#face img {
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.clear {
    clear: both;
    padding: 10px;
}

@media only screen and (max-width:1500px) {
    #container {
        margin: 0 calc(50% - 250px);
        margin-top: 10%;
    }

    #container.to-left {
        margin-left: calc(50% - 400px);
    }
}

@media only screen and (max-width:1200px) {
    #menu ul li a {
        width: 100px;
    }

    #menu {
        margin-left: -130px;
    }

    #container.to-left {
        margin-left: calc(50% - 430px);
    }

    #container>div {
        width: 420px;
    }
}

@media only screen and (max-width:1170px) {
    #container>div {
        width: 410px;
    }

    #container {
        width: 410px;
        margin: 0 calc(50% - 180px);
        margin-top: 10%;
    }

    #container.to-left {
        width: 880px;
        margin-left: calc(50% - 340px);
    }

    #contacts.to-right,
    #cv.to-right,
    #skills.to-right,
    #projects.to-right {
        transform: translate(410px, 0);
    }

}

@media only screen and (max-width:970px) {
    #container>div {
        width: 490px;
        height: max-content;
    }

    #container {
        width: 490px;
        margin: 0 auto;
        margin-top: 10%;
    }

    #cv {
        margin-top: 20px;
    }

    #cv,
    #contacts,
    #skills,
    #projects {
        position: relative;
        transition: all .8s;
        opacity: 1;
        z-index: 1;
        height: max-content;
    }

    #menu {
        display: none;
    }

    #sandwitch {
        display: block;
    }

}

@media only screen and (max-width:520px) {
    #container>div {
        width: 410px;
    }

    #container {
        width: 410px;
    }
}